apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ kubernetes_ampache_deployment }}
  namespace: {{ kubernetes_ampache_namespace }}
  labels:
    app: {{ kubernetes_ampache_app }}
{% if kubernetes_ampache_deployment_labels %}
    {{ kubernetes_ampache_deployment_labels | to_nice_yaml | indent(4) }}
{% endif %}
spec:
  replicas: {{ kubernetes_ampache_replicas }}
  revisionHistoryLimit: {{ kubernetes_ampache_revision_history }}
  selector:
    matchLabels:
      app: {{ kubernetes_ampache_app }}
  template:
    metadata:
      labels:
        app: {{ kubernetes_ampache_app }}
    spec:
      containers:
      - image: {{ kubernetes_ampache_image }}
        imagePullPolicy: Always
        name: ampache
        resources:
          {{ kubernetes_ampache_resources | to_yaml | indent(10) }}
        volumeMounts:
        - mountPath: /var/www/ampache
          name: ampache-basedir
        - mountPath: /var/www/ampache/config/ampache.cfg.php
          name: ampache-config
          subPath: ampache.cfg.php
        - mountPath: /usr/local/etc/php/php.ini
          name: ampache-config
          subPath: php.ini
{% for k, v in kubernetes_ampache_music_volumes.items() %}
        - mountPath: {{ v.mountpath }}
          name: ampache-{{ k }}
          {% if v.subPath is defined %}subPath: {{ v.subPath }}{% endif %}

{% endfor %}
      - image: {{ kubernetes_ampache_nginx_image }}
        imagePullPolicy: Always
        name: nginx
        resources:
          {{ kubernetes_ampache_nginx_resources | to_yaml | indent(10) }}
        volumeMounts:
        - mountPath: /var/www/ampache
          name: ampache-basedir
        - mountPath: /etc/nginx/nginx.conf
          name: ampache-config
          subPath: nginx.conf
{% if kubernetes_ampache_node_selector|default({}) %}
      nodeSelector:
        {{ kubernetes_ampache_node_selector | to_yaml | indent(8) }}
{% endif %}
      volumes:
      - name: ampache-basedir
        emptyDir: {}
      - name: ampache-config
        configMap:
          name: {{ kubernetes_ampache_configmap }}
          items:
            - key: ampache.cfg.php
              path: ampache.cfg.php
            - key: nginx.conf
              path: nginx.conf
            - key: php.ini
              path: php.ini
{% for k, v in kubernetes_ampache_music_volumes.items() %}
      - {name: ampache-{{ k }}, {{ v.definition | to_yaml }}}
{% endfor %}
      restartPolicy: Always
status: {}
